body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('file:///C:/Prodigy/task5/src/images/back.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.weather-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  width: 200px;
  font-size: 1rem;
}

.weather-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.weather-button:hover {
  background-color: #0056b3;
}

.weather-info {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(224, 247, 250, 0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.weather-info h2 {
  margin: 0;
  font-size: 2rem;
  color: #333;
}

.weather-info p {
  margin: 5px 0;
  font-size: 1.2rem;
  color: #555;
}
